[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}

[server]
http_port = 3000

[paths]
data = /var/lib/grafana
logs = /var/log/grafana
plugins = /var/lib/grafana/plugins
provisioning = /etc/grafana/provisioning

[users]
default_theme = dark
